.profile{
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto;
    padding: 20px;
    width: 250px;
    
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
}
.description{
    text-align: center;
}
.avatar{
    width: 100px;
    border-radius: 50%;
}
.name{
    font-size: 20px;
    font-weight: 700;
}
.stats{
    display: flex;
    gap: 20px;
}

.stats__item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.label,
.tag,
.location{
    color: #757575;
}
.quantity{
    font-weight: 700;
}