.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.item {
  display: flex;
  align-items: center;
  width: 200px;
  padding: 25px 35px;
  margin-top: 15px;

  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.status {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border-radius: 50%;
}

.name {
  margin-left: 10px;
  font-weight: 700;
}
