.statistics {
    width: 400px;
    margin: 0 auto;
    padding-top: 50px;
  }
  
  .title {
    text-align: center;
  }
  
  .list {
    display: flex;
    padding: 0;
  }
  
  .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    
    width: 100%;
    color: #fff;

  }